body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  outline: none;
  border: none;
}

.list-group-item {
  outline: none;
  border: none;
}
.textarea{
  border:none;
  outline:none;
  width: 100%;
}
.ntbkTextarea{
  min-height:150px;
  max-height: 280px;
  overflow-x: scroll; 
}