/* general tags and common use css */
a {
    text-decoration: none;
}

input,.textarea {
    outline: none;
    border: none;
    width: 100%;
}

.list-group-item:hover{
    background: lightgrey;
}

.list-group-item {
    outline: none;
    border: none;
}

.dndItem {
    list-style-type: none;
}

.ntbkTextarea{
min-height:150px;
max-height: 280px;
overflow-x: scroll; 
}


.container-fluid {
    height: 100vh;
    background-color: #e9ecef;
}  


.btn {
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:50%;
    padding: 0;
    box-shadow: none;
}
.btn:hover{
    background: lightgrey;
}
.btn:focus{
    box-shadow: none;
}
/* banner */
.banner {
    height: 60px;
    width: 100%;
    position: fixed;
    background: white;
    z-index: 2;
  }
  
/* .bannerMain {
    height: 80px;
} */

/*Notebook more */
.ntbkMore {
    position: fixed;
    width: 100%;
    height: 50px;
    top: 80px;
    /* z-index: 1; */
}
/* using navigation instead of nav to not to mess up with bootstrap nav  */
.navigation {
    top: 80px;
    bottom:0;
    position:fixed;
    overflow-y:scroll;
    overflow-x:hidden;
    z-index: 1;
}
.navigation::-webkit-scrollbar {
    width: 8px;   
} 
.navigation:hover::-webkit-scrollbar-track {
    background-color: #e9ecef; 
    transition-delay: 3s; 
    transition-property: background-color;   
}

.navigation:hover::-webkit-scrollbar-thumb {
    transition-delay: 3s; 
    transition-property: background-color; 
    background-color: #aaa;    
    border-radius: 20px; 
    transition-delay: 1s;   
}  

.main {
    background: #e9ecef;
    position: absolute;
    /* top: 80px; */
    /* overflow: auto; */
}
/* 
.main::-webkit-scrollbar {
    width: 0px;   
} 
.main::-webkit-scrollbar-track {
    background-color: none; 
    transition-delay: 3s; 
    transition-property: background-color;   
}

.main::-webkit-scrollbar-thumb {
    transition-delay: 3s; 
    transition-property: background-color; 
    background-color: none;    
    border-radius: 20px; 
    transition-delay: 1s;   
}   */

/* .main::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 10px; 
}

.main::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 10px;
} */


.complementary {
    top: 90px;
    right: 0px;
    bottom: 0;
    position:fixed;
    padding-right: 8px; 
  }

.comContent{
    max-height: 100vh;
    overflow-y: auto;
}
.comContent::-webkit-scrollbar {
    width: 8px;   
} 
.comContent:hover::-webkit-scrollbar-track {
    background-color: #e9ecef; 
    transition-delay: 3s; 
    transition-property: background-color;   
}

.comContent:hover::-webkit-scrollbar-thumb {
    transition-delay: 3s; 
    transition-property: background-color; 
    background-color: #aaa;    
    border-radius: 20px; 
    transition-delay: 1s;   
} 

.ntbkMain::-webkit-scrollbar {
    width: 8px;   
} 
.ntbkMain:hover::-webkit-scrollbar-track {
    background-color: #e9ecef; 
    transition-delay: 3s; 
    transition-property: background-color;   
}

.ntbkMain:hover::-webkit-scrollbar-thumb {
    transition-delay: 3s; 
    transition-property: background-color; 
    background-color: #aaa;    
    border-radius: 20px; 
    transition-delay: 1s;   
}  



/* set z-index -1 so it will stay under other elements */
  
.footer {
    position: fixed;
    bottom: 80px;
}
.complementaryBar {
    position: fixed;
    top:80px;
}

/* Popup */
.popup-background {
    height: 100vh;   
    position: absolute;
    top: 0px;
    background: black;
    z-index: 3;
    opacity:0.3;    
}



  
  
 